@import "./ride.scss";

// Background Colors
@mixin ride-sys-color-background-strong {
    background-color: #{$ride-gl-color-neutral-100};
}
@mixin ride-sys-color-background-subtle {
    background-color: #{$ride-gl-color-neutral-20};
}
@mixin ride-sys-color-background-default{ 
    background-color: #{$ride-gl-color-neutral-10};
}

// Surface Colors
@mixin ride-sys-color-surface-inverse {
    background-color: #{$ride-gl-color-neutral-100};
}
@mixin ride-sys-color-surface-default {
    background-color: #{$ride-gl-color-neutral-10};
}
@mixin ride-sys-color-surface-transparent {
    background: #{$ride-gl-color-transparent};
}

// Text Colors
@mixin ride-sys-color-text-extreme {
    color: #{$ride-gl-color-neutral-100};
}
@mixin ride-sys-color-text-inverse {
    color: #{$ride-gl-color-neutral-0};
}

// Border Colors
@mixin ride-sys-color-border-extreme {
    border-color: #{$ride-gl-color-neutral-100};
}


// Glyph Colors
@mixin ride-sys-color-glyph-default{
    fill: #{$ride-gl-color-neutral-100};
}
@mixin ride-sys-color-glyph-inverse{
    fill: #{$ride-gl-color-neutral-0};
}