@import "./hana.scss";

// Background Colors
@mixin hana-sp-color-background-strong {
    background-color: #{$hana-core-color-neutral-100};
}
@mixin hana-sp-color-background-subtle {
    background-color: #{$hana-core-color-neutral-20};
}
@mixin hana-sp-color-background-default{ 
    background-color: #{$hana-core-color-neutral-10};
}

// Surface Colors
@mixin hana-sp-color-surface-inverse {
    background-color: #{$hana-core-color-neutral-100};
}
@mixin hana-sp-color-surface-default {
    background-color: #{$hana-core-color-neutral-10};
}
@mixin hana-sp-color-surface-transparent {
    background: #{$hana-core-color-transparent};
}

// Text Colors
@mixin hana-sp-color-text-extreme {
    color: #{$hana-core-color-neutral-100};
}
@mixin hana-sp-color-text-inverse {
    color: #{$hana-core-color-neutral-0};
}

// Border Colors
@mixin hana-sp-color-border-extreme {
    border-color: #{$hana-core-color-neutral-100};
}


// Glyph Colors
@mixin hana-sp-color-glyph-default{
    fill: #{$hana-core-color-neutral-100};
}
@mixin hana-sp-color-glyph-inverse{
    fill: #{$hana-core-color-neutral-0};
}