@import "./ride.scss";

// Paragraph TextStyle
@mixin ride-sys-text-paragraph-2xlarge-default{
    font-family: #{$ride-sys-text-paragraph-2xlarge-default-fontfamily};
    font-weight: #{$ride-sys-text-paragraph-2xlarge-default-fontweight};
    line-height: #{$ride-sys-text-paragraph-2xlarge-default-lineheight};
    font-size: #{$ride-sys-text-paragraph-2xlarge-default-fontsize};
    letter-spacing: #{$ride-sys-text-paragraph-2xlarge-default-letterspacing};
    // @content;
}
@mixin ride-sys-text-paragraph-xlarge-default{
    font-family: #{$ride-sys-text-paragraph-xlarge-default-fontfamily};
    font-weight: #{$ride-sys-text-paragraph-xlarge-default-fontweight};
    line-height: #{$ride-sys-text-paragraph-xlarge-default-lineheight};
    font-size: #{$ride-sys-text-paragraph-xlarge-default-fontsize};
    letter-spacing: #{$ride-sys-text-paragraph-xlarge-default-letterspacing};
    // @content;
}

// Label TextStyle
@mixin ride-sys-text-label-2xlarge-default{
    font-family: #{$ride-sys-text-label-2xlarge-default-fontfamily};
    font-weight: #{$ride-sys-text-label-2xlarge-default-fontweight};
    line-height: #{$ride-sys-text-label-2xlarge-default-lineheight};
    font-size: #{$ride-sys-text-label-2xlarge-default-fontsize};
    letter-spacing: #{$ride-sys-text-label-2xlarge-default-letterspacing};
    @content;
}