@use "./base/colors" as color;

section{
    @include color.ride-sys-color-background-subtle;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    @include color.ride-sys-color-text-extreme;
}