@use "./../base/typography" as text;
@use "./../base/colors" as color;
@import "./../base/hana.scss";

.hana-sp-btn-default-primary{
    @include text.hana-sp-text-label-2xlarge-default;
    @include color.hana-sp-color-text-inverse;
    @include color.hana-sp-color-surface-inverse;
    @include color.hana-sp-color-border-extreme;
    border-width: #{$hana-core-border-width-medium};
    border-style: solid;
    border-radius: #{$hana-core-border-radius-pill};
    padding-left: #{$hana-core-spacing-5xlarge};
    padding-right: #{$hana-core-spacing-5xlarge};
    padding-top: #{$hana-core-spacing-2xlarge - $hana-core-spacing-xsmall};
    padding-bottom: #{$hana-core-spacing-2xlarge - $hana-core-spacing-xsmall};
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover{
        @include color.hana-sp-color-text-extreme;
        @include color.hana-sp-color-surface-transparent;
    }   
}

.hana-sp-btn-default-primary-icon-right{
    @include text.hana-sp-text-label-2xlarge-default;
    @include color.hana-sp-color-text-inverse;
    @include color.hana-sp-color-surface-inverse;
    @include color.hana-sp-color-border-extreme;
    border-width: #{$hana-core-border-width-thick};
    border-style: solid;
    border-radius: #{$hana-core-border-radius-medium};
    padding-left: #{$hana-core-spacing-5xlarge};
    padding-right: #{$hana-core-spacing-5xlarge};
    padding-top: #{$hana-core-spacing-2xlarge - 0.125rem};
    padding-bottom: #{$hana-core-spacing-2xlarge - 0.125rem};
    cursor: pointer;
    display: flex;
    align-items: center;
    
    &:hover{
        @include color.hana-sp-color-text-extreme;
        @include color.hana-sp-color-surface-transparent;
        svg {
            path{
                @include color.hana-sp-color-glyph-default;
            }  
        }
    }
    svg{
        margin-left: #{$hana-core-spacing-medium};
        width: #{$hana-core-size-graphic-large};
        path{
            @include color.hana-sp-color-glyph-inverse;
        }
    }  
}
